body {
  text-align: center;
  background-color: black;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: white;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}


.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.bubbly-button-green {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  
  -webkit-appearance: none;
  appearance: none;
  background-color: green;
  color: #000000;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px green;
}

    .bubbly-button-green:focus {
      outline: 0;
    }
    .bubbly-button-green:before,
    .bubbly-button-green:after {
      position: absolute;
      content: "";
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }

.bubbly-button-green:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle, transparent 20%, green 20%, transparent 30%), radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle, transparent 10%, green 15%, transparent 20%), radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle, green 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button-green:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle,green 20%, transparent 20%), radial-gradient(circle, transparent 10%, green 15%, transparent 20%), radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle, green 20%, transparent 20%), radial-gradient(circle, green 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button-green:active {
  transform: scale(0.9);
  background-color: green;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

    .bubbly-button-green.animate:before {
      display: block;
      animation: topBubbles
      ease-in-out 0.75s forwards;
    }

.bubbly-button-green.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 
    5% 90%, 10% 90%, 10% 90%, 
    15% 90%, 25% 90%, 25% 90%, 
    40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 
    0% 80%, 0% 20%, 10% 40%, 
    20% 0%, 30% 30%, 22% 50%, 
    50% 50%, 65% 20%, 90% 30%;
  }
    100% {
      background-position: 
      0% 70%, 0% 10%, 10% 30%, 
      20% -10%, 30% 20%, 22% 40%, 
      50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 
      0% 0%, 0% 0%, 0% 0%, 
      0% 0%, 0% 0%;
    }
  }
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.bubbly-button-red {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;

  -webkit-appearance: none;
  appearance: none;
  background-color: red;
  color: #000000;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px red;
}

    .bubbly-button-red:focus {
      outline: 0;
    }
    .bubbly-button-red:before,
    .bubbly-button-red:after {
      position: absolute;
      content: "";
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }

.bubbly-button-red:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle, transparent 20%, red 20%, transparent 30%), radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle, transparent 10%, red 15%, transparent 20%), radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle, red 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button-red:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle,red 20%, transparent 20%), radial-gradient(circle, transparent 10%, red 15%, transparent 20%), radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle, red 20%, transparent 20%), radial-gradient(circle, red 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button-red:active {
  transform: scale(0.9);
  background-color: red;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

    .bubbly-button-red.animate:before {
      display: block;
      animation: topBubbles
      ease-in-out 0.75s forwards;
    }

.bubbly-button-red.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 
    5% 90%, 10% 90%, 10% 90%, 
    15% 90%, 25% 90%, 25% 90%, 
    40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 
    0% 80%, 0% 20%, 10% 40%, 
    20% 0%, 30% 30%, 22% 50%, 
    50% 50%, 65% 20%, 90% 30%;
  }
    100% {
      background-position: 
      0% 70%, 0% 10%, 10% 30%, 
      20% -10%, 30% 20%, 22% 40%, 
      50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 
      0% 0%, 0% 0%, 0% 0%, 
      0% 0%, 0% 0%;
    }
  }
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.bubbly-button-yellow {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;

  -webkit-appearance: none;
  appearance: none;
  background-color: yellow;
  color: #000000;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px yellow;
}

    .bubbly-button-yellow:focus {
      outline: 0;
    }
    .bubbly-button-yellow:before,
    .bubbly-button-yellow:after {
      position: absolute;
      content: "";
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }

.bubbly-button-yellow:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle, transparent 20%, yellow 20%, transparent 30%), radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle, transparent 10%, yellow 15%, transparent 20%), radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle, yellow 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button-yellow:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle,yellow 20%, transparent 20%), radial-gradient(circle, transparent 10%, yellow 15%, transparent 20%), radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle, yellow 20%, transparent 20%), radial-gradient(circle, yellow 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button-yellow:active {
  transform: scale(0.9);
  background-color: yellow;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

    .bubbly-button-yellow.animate:before {
      display: block;
      animation: topBubbles
      ease-in-out 0.75s forwards;
    }

.bubbly-button-yellow.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 
    5% 90%, 10% 90%, 10% 90%, 
    15% 90%, 25% 90%, 25% 90%, 
    40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 
    0% 80%, 0% 20%, 10% 40%, 
    20% 0%, 30% 30%, 22% 50%, 
    50% 50%, 65% 20%, 90% 30%;
  }
    100% {
      background-position: 
      0% 70%, 0% 10%, 10% 30%, 
      20% -10%, 30% 20%, 22% 40%, 
      50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 
      0% 0%, 0% 0%, 0% 0%, 
      0% 0%, 0% 0%;
    }
  }
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.bubbly-button-blue {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color: blue;
  color: #000000;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px blue;
}

    .bubbly-button-blue:focus {
      outline: 0;
    }
    .bubbly-button-blue:before,
    .bubbly-button-blue:after {
      position: absolute;
      content: "";
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }

.bubbly-button-blue:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle, transparent 20%, blue 20%, transparent 30%), radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle, transparent 10%, blue 15%, transparent 20%), radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle, blue 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button-blue:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle,blue 20%, transparent 20%), radial-gradient(circle, transparent 10%, blue 15%, transparent 20%), radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle, blue 20%, transparent 20%), radial-gradient(circle, blue 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button-blue:active {
  transform: scale(0.9);
  background-color: blue;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

    .bubbly-button-blue.animate:before {
      display: block;
      animation: topBubbles
      ease-in-out 0.75s forwards;
    }

.bubbly-button-blue.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 
    5% 90%, 10% 90%, 10% 90%, 
    15% 90%, 25% 90%, 25% 90%, 
    40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 
    0% 80%, 0% 20%, 10% 40%, 
    20% 0%, 30% 30%, 22% 50%, 
    50% 50%, 65% 20%, 90% 30%;
  }
    100% {
      background-position: 
      0% 70%, 0% 10%, 10% 30%, 
      20% -10%, 30% 20%, 22% 40%, 
      50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 
      0% 0%, 0% 0%, 0% 0%, 
      0% 0%, 0% 0%;
    }
  }
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.game-over {
  background-color: red;
  opacity: 0.8;
}



.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
